@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link,
.logo {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

header {
  border-bottom: 1px solid var(--cornflower);
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ==========================Site nav=============== */
/*============= лого левая часть======== */
.logo-web {
  color: hsl(235deg, 75%, 60%);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
}

.logo-web:focus {
  color: #404bbf;
}

.logo {
  color: #2e2f42;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
}

.logo:focus {
  color: #404bbf;
}

.site-nav {
  display: flex;
}

.site-nav .logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.nav-ul {
  display: flex;
}

.nav-ul .item:not(:last-child) {
  margin-right: 40px;
  position: relative;
}

/* ===================ПОДЧЕРКИВАНИЕ ТЕКУЩЕЙ СТРАНИЦЫ================= */
.link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}

.site-nav .link:is(:hover, :focus) {
  color: #404bbf;
}

.header-contacts {
  display: flex;
}

.header-contacts .item:not(:last-child) {
  margin-right: 40px;
}

.header-contacts .link {
  display: inline-flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
}

.header-contacts .link:is(:hover, :focus) {
  color: #404bbf;
}

/* ========================ICONS HEADER===================== */
/* СДЕЛАЛ ЧЕРЕЗ ФОН, НО ТАК НЕ РАБОТАЕТ ХОВЕР */
/*.header-contacts .mail::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;

    background-image: url("../images/mail.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header-contacts .phone::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;

    background-image: url("../images/phone.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }*/
/* ===============ICONS HEADER ==END============ */
/* ==================Section first==================*/
.section-general {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
  height: 600px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../../images/people_office_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mein-title {
  margin: 0 auto;
  width: 494px;
  margin-bottom: 48px;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
}

/* ===========================BUTTONS ===========================*/
/* Макет для кнопок два вида, order, normal и activ */
.button {
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  color: hsl(235deg, 75%, 60%);
  background-color: #f4f4fd;
  font-weight: 500;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:is(:hover, :focus) {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.button.order {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: hsl(235deg, 75%, 60%);
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  position: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.order:is(:hover, :focus) {
  background-color: #404bbf;
}

/*===================== По секциям================*/
/* ============features=========== */
.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* скроем заголовок */
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section-title {
  margin: 0;
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list .item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
  padding-top: 24px;
}

.features-list .item:nth-child(4n) {
  margin-right: 0;
}

.features-list .title {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.features-list .text {
  margin: 0;
}

/* ================ICONS FEATURES============= */
.features-list .item::before {
  display: block;
  content: "";
  height: 112px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.features-list .icon-strategy::before {
  background-image: url(../../images/antenna_1.svg), linear-gradient(rgb(244, 244, 253), rgb(244, 244, 253));
}

.features-list .icon-punctuality::before {
  background-image: url(../../images/clock_1.svg), linear-gradient(rgb(244, 244, 253), rgb(244, 244, 253));
}

.features-list .icon-diligency::before {
  background-image: url(../../images/diagram_1.svg), linear-gradient(rgb(244, 244, 253), rgb(244, 244, 253));
}

.features-list .icon-technologies::before {
  background-image: url(../../images/astronaut_1.svg), linear-gradient(rgb(244, 244, 253), rgb(244, 244, 253));
}

/* ==============What are we doing================= */
.section-work {
  padding-bottom: 120px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list .item {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
}

.work-list .item:nth-child(3n) {
  margin-right: 0;
}

/* ===========================Our Team========================= */
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .worker {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list .worker:nth-child(4n) {
  margin: 0;
}

.team-list .title {
  margin: 0;
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-list .text {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}

.info {
  padding: 32px 16px;
}

.info .social {
  display: flex;
  justify-content: space-between;
}

.social .item {
  width: 40px;
  height: 40px;
}

.link-social {
  padding: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  background-color: hsl(235deg, 75%, 60%);
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social {
  fill: #f4f4fd;
}

.link-social:is(:hover, :focus) {
  background-color: #404bbf;
}

.social .item:not(:last-child) {
  margin-right: 24px;
}

/*===============================Customers===========================*/
.section-customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-list .item {
  width: 168px;
  height: 88px;
}

.link-custom {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list .item:not(:last-child) {
  margin-right: 24px;
}

.logo-brend {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* При ховере меняется цвет рамки */
.link-custom:is(:hover, :focus) {
  border-color: #404bbf;
}

/* при ховере идет обращение к иконнке и меняется ее цвет. */
.link-custom:is(:hover, :focus) .logo-brend {
  fill: #404bbf;
}

/* ===============================footer=========================== */
.footer-color {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.foot .logo {
  display: inline-block;
  margin-bottom: 16px;
  color: #f4f4fd;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
}

.foot .logo:focus {
  color: #404bbf;
}

.foot .text {
  margin: 0;
  color: #e7e9fc;
}

.foot {
  width: 264px;
  margin-right: 120px;
}

.footer-title {
  margin: 0;
  margin-bottom: 16px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

/* делаем две колонки */
.footer-column {
  display: flex;
}

/* ставим иконки в один ряд */
.footer-social .list-social {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.list-social .item:not(:last-child) {
  margin-right: 16px;
}

.list-social .item {
  width: 40px;
  height: 40px;
}

.footer-link-social {
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.footer-link-social:is(:hover, :focus) {
  background-color: #31d0aa;
}

/* =====================FOOTER-SUBSCRIBE======================= */
.form-subscribe {
  display: inline-flex;
  align-items: flex-end;
  height: 80px;
}

.subscribe-title {
  display: block;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-right: 24px;
}

.input-email {
  margin: 0;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  color: #ffffff;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

.btn-subscribe {
  display: inline-flex;
  min-width: 140px;
  height: 40px;
  align-items: center;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  cursor: pointer;
  background: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  letter-spacing: 0.04em;
}

.btn-subscribe:is(:hover, :focus) {
  border: 0;
}

.btn-subscribe::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-right: 24px;
  border-color: inherit;
  background-image: url("../../images/telegram.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ===============================Modal window=========================== */
.backdrop-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop-modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  width: 408px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  text-align: center;
}

.btn-close {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:focus {
  background-color: #404bbf;
}

.form-text {
  margin: 0;
  font-weight: 500;
  text-align: center;
  padding-bottom: 14px;
}

.label-name:not(:last-child) {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  text-align: left;
}

.label-name:last-child {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  text-align: left;
}

.input-type {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-type:focus-within {
  outline: none;
  border: 1px solid #4d5ae5;
}

/* =============INPUT-ICONS======= */
.input-area {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-name:hover .input-icon {
  fill: hsl(235deg, 75%, 60%);
}

.label-name:focus-within .input-icon {
  fill: hsl(235deg, 75%, 60%);
}

.checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../../images/checkbox.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  background-image: url(../../images/checkbox-yes.svg);
}

/* =============END=INPUT-ICONS======= */
.form-title {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

textarea {
  resize: none;
  min-height: 120px;
  width: 100%;
}

.txtarea-input {
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.txtarea-input:focus-within {
  outline: none;
  border: 1px solid #4d5ae5;
}

.btn-sendform {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: hsl(235deg, 75%, 60%);
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  position: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy {
  height: 24px;
  margin: 0;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  margin-left: 24px;
}

.privacy-link {
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */