@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.is-hidden-mobil {
  opacity: 0;
  pointer-events: none;
}

.link,
.logo {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  min-width: 320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section-title {
  margin: 0;
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 396px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    line-height: 1.5;
  }
  .container {
    max-width: 1158px;
  }
}
/*=============================Страница  portfolio======================== */
.link.current {
  color: #404bbf;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.container-btn {
  margin-bottom: 72px;
}

.container-btn .list {
  display: flex;
  justify-content: center;
}

.container-btn .item:not(:last-child) {
  margin-right: 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list .item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.portfolio-list .item:not(:nth-last-child(-n+3)) {
  margin-bottom: 48px;
}

.portfolio-list .link {
  display: inline-block;
}

.portfolio-list .link {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  position: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-title {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  position: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1), border-left 250ms cubic-bezier(0.4, 0, 0.2, 1), border-right 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.portfolio-list .title {
  margin: 0;
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-list .text-kind {
  margin: 0;
  color: #434455;
}

/* ===============================Project Card======================== */
.backdrop {
  position: relative;
  overflow: hidden;
}

.portfolio-action {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  text-align: center;
  background-color: hsla(235deg, 75%, 60%, 0.95);
  color: #f4f4fd;
  font-weight: 400;
}

.portfolio-list .link:is(:hover, :focus) .portfolio-action {
  transform: translateY(0);
}

.portfolio-list .link:is(:hover, :focus) .text-title {
  border-bottom: 0.5px solid #f4f4fd;
  border-left: 0.5px solid #f4f4fd;
  border-right: 0.5px solid #f4f4fd;
}

.portfolio-list .link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ===============================footer=========================== */
.footer-color {
  /* делаем одну колонки */
  display: block;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.foot .logo {
  display: inline-block;
  margin-bottom: 16px;
  color: #f4f4fd;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
}

.foot .logo:focus {
  color: #404bbf;
}

.foot .text {
  color: #e7e9fc;
  margin: 0;
}

.foot {
  width: 264px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.footer-title {
  margin: 0;
  margin-bottom: 16px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

.footer-social .list-social {
  display: inline-flex;
}

.list-social .item:not(:last-child) {
  margin-right: 16px;
}

.list-social .item {
  width: 40px;
  height: 40px;
}

.footer-link-social {
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.subscribe-title {
  display: block;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  margin-bottom: 16px;
}

.label {
  display: block;
}

.input-email {
  margin: 0;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  color: #ffffff;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

.btn-subscribe {
  display: inline-flex;
  min-width: 140px;
  height: 40px;
  align-items: center;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  cursor: pointer;
  background: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 768px) {
  .label {
    margin-bottom: 16px;
  }
  .input-email {
    width: 100%;
  }
  .footer-social {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .footer-color {
    text-align: unset;
  }
  .footer-tab {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 72px;
    margin-left: 92px;
  }
  .foot {
    margin-right: 24px;
    margin-bottom: 0;
  }
  .label {
    margin-right: 24px;
  }
  .footer-tab {
    margin-left: 92px;
  }
  .form-subscribe {
    display: inline-flex;
    align-items: end;
    margin-left: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tab {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-bottom: 0;
  }
  .footer-color {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .foot {
    margin-right: 120px;
  }
  /* делаем две колонки */
  .footer-column {
    display: flex;
  }
  .footer-column .footer-title,
  .footer-column .subscribe-title {
    text-align: left;
  }
  /* ставим иконки в один ряд */
  .footer-social .list-social {
    display: flex;
    align-items: center;
    margin-right: 80px;
  }
  .footer-link-social:is(:hover, :focus) {
    background-color: #31d0aa;
  }
  /* =====================FOOTER-SUBSCRIBE======================= */
  .form-subscribe {
    display: inline-flex;
    align-items: flex-end;
    height: 80px;
    margin-left: 0;
  }
  .label {
    margin-right: 24px;
  }
  .btn-subscribe:is(:hover, :focus) {
    border: 0;
  }
  .btn-subscribe::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-right: 24px;
    border-color: inherit;
    background-image: url("../../images/telegram.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}/*# sourceMappingURL=portfolio.css.map */