//===============Mobile

header {
  border-bottom: 1px solid $cornflower;
}

/* ==========================Site nav=============== */
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

/*============= лого левая часть======== */

.logo-web,
.logo {
  font-family: "Raleway";
  @include font(18px, 800, 24px, 0.03em);
  text-transform: uppercase;
}
.logo-web {
  color: $iris;
}

.logo-web:focus {
  color: $ocean;
}
.logo {
  color: $navy-blue;
}

.logo:focus {
  color: $ocean;
}

.nav-ul,
.header-contacts {
  display: none;
}

/* ========================ICONS HEADER===================== */

/* СДЕЛАЛ ЧЕРЕЗ ФОН, НО ТАК НЕ РАБОТАЕТ ХОВЕР */

/*.header-contacts .mail::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
  
    background-image: url("../images/mail.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .header-contacts .phone::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
  
    background-image: url("../images/phone.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }*/

/* ===============ICONS HEADER ==END============ */

//  ========================MOBILE-MENU===================

.icon-mobile-menu {
  stroke: $navy-blue;
}

.mobile-menu-btn {
  background-color: inherit;
  border: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  overflow-y: scroll;
  padding: 80px 30px 40px 30px;

  background-color: $white;
  box-shadow: $header-shadow;
}

//.mobile-menu > .container {
//  height: 100%;
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//}

.mobmenu-btn-close {
  position: absolute;
  display: flex;
  top: 40px;
  right: 40px;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $cornflower;
  border: 1px solid $bodrer-btn-close;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--time-function);
}

.mobile-menu-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.mobele-menu-list .link {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: $navybluemodal;
}

.mobele-menu-list .item:not(:last-child) {
  margin-bottom: 40px;
}

.mobele-menu-list .current {
  color: $ocean;
}

.mobile-menu-contacts .phone {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.11;
  color: $bodrer-btn-subscribe;
  margin-bottom: 40px;
}

.mobile-menu-contacts .mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: $slate;
}

.mobile-menu-contacts .item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-contacts {
  margin-bottom: 48px;
}

.mob-social {
  display: flex;
  //  justify-content: space-around;
}

.mob-social .item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 480px) {
  .mobile-menu {
    padding: 80px 40px 40px 40px;
  }
  .mobile-menu-contacts .phone {
    font-size: 36px;
  }
  .mob-social .item:not(:last-child) {
    margin-right: 56px;
  }
}

@media screen and (min-width: 768px) {
  .mobhide {
    display: none;
  }
}

//=====================================TABLET===========================================
@media screen and (min-width: 768px) {
  //  .mobile-menu-btn {
  //    display: none;
  //    opacity: 0;
  //    pointer-events: none;
  //  }

  //  .mobile-menu {
  //    display: none;
  //  }

  //  .header-flex {
  //    display: flex;
  //    justify-content: space-between;
  //    align-items: center;
  //  }

  .site-nav .logo {
    margin-right: 120px;
  }
  .nav-ul {
    display: flex;
  }
  .nav-ul .item:not(:last-child) {
    margin-right: 40px;
  }

  .nav-ul .item {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /* ===================ПОДЧЕРКИВАНИЕ ТЕКУЩЕЙ СТРАНИЦЫ================= */
  .link.current::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $ocean;
    border-radius: 2px;
  }

  .site-nav .link {
    display: block;

    color: $navy-blue;
    transition: color 250ms $time-function;

    font-weight: 500;
  }

  //  .site-nav .link:is(:hover, :focus) {
  //    color: $ocean;
  //  }

  .header-contacts {
    display: block;
    margin-top: 24px;
    margin-bottom: 10px;
  }

  //  .header-contacts .item:not(:last-child) {
  //    margin-right: 40px;
  //  }

  .header-contacts .link {
    //display: inline-flex;
    //align-items: center;

    transition: color 250ms $time-function;
    color: $slate;
    font-weight: 400;

    font-size: 12px;
  }

  //  .header-contacts .link:is(:hover, :focus) {
  //    color: $ocean;
  //  }
}

//========================================DESCTOP============================================
@media screen and (min-width: 1200px) {
  .site-nav .logo {
    margin-right: 76px;
  }

  .nav-ul .item:not(:last-child) {
    margin-right: 40px;
    position: relative;
  }

  /* ===================ПОДЧЕРКИВАНИЕ ТЕКУЩЕЙ СТРАНИЦЫ================= */
  .link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $ocean;
    border-radius: 2px;
  }

  //  .site-nav .link {
  //    display: block;

  //    color: $navy-blue;
  //    transition: color 250ms $time-function;

  //    font-weight: 500;
  //  }

  .site-nav .link:is(:hover, :focus) {
    color: $ocean;
  }

  .header-contacts {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
  }

  .header-contacts .item:not(:last-child) {
    margin-right: 40px;
  }

  .header-contacts .link {
    display: inline-flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;

    //transition: color 250ms $time-function;
    //color: $slate;
    //font-weight: 400;

    font-size: 16px;
  }

  .header-contacts .link:is(:hover, :focus) {
    color: $ocean;
  }
}
