.section-features {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list .title {
  margin: 0;
  color: $navy-blue;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 8px;
}

.features-list .text {
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .features-list .item:not(:last-child) {
    margin-bottom: 72px;
  }
}
//=====================================TABLET===========================================
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list .item {
    width: calc((100% - 48px) / 2);
    margin: 12px;
    text-align: left;
    //padding-top: 24px;
  }

  .features-list .item:nth-last-child(n + 3) {
    margin-bottom: 72px;
  }
}
//========================================DESCTOP===========================================
@media screen and (min-width: 1200px) {
  .section-features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list .item {
    width: calc((100% - 96px) / 4);
    margin: 12px;
  }

  .features-list .title {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-list .text {
    font-weight: 400;
    line-height: 1.5;
  }

  /* ================ICONS FEATURES============= */

  .features-list .item::before {
    display: block;
    content: "";
    height: 112px;

    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .features-list .icon-strategy::before {
    background-image: url(../images/antenna_1.svg), $bcg-cloud;
  }

  .features-list .icon-punctuality::before {
    background-image: url(../images/clock_1.svg), $bcg-cloud;
  }

  .features-list .icon-diligency::before {
    background-image: url(../images/diagram_1.svg), $bcg-cloud;
  }

  .features-list .icon-technologies::before {
    background-image: url(../images/astronaut_1.svg), $bcg-cloud;
  }
}
