/* ==============What are we doing================= */

.section-work {
  padding-bottom: 120px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list .item {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
}

.work-list .item:nth-child(3n) {
  margin-right: 0;
}
