/* ===========================Our Team========================= */
.section-team {
  padding-top: 96px;
  padding-bottom: 128px;

  background-color: $cloud;
}
.container-team {
  min-width: 320px;
  max-width: 396px;
  padding: 0 70px;
  margin-left: auto;
  margin-right: auto;
}

.team-list .worker {
  border-radius: 0px 0px 4px 4px;

  background-color: $white;
  box-shadow: $shadow;
}

.info .social {
  display: flex;
  justify-content: space-between;
}

.team-list .title {
  margin: 0;
  margin-bottom: 8px;

  color: $navy-blue;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-list .text {
  margin: 0;
  margin-bottom: 8px;

  text-align: center;
}

.info {
  padding: 32px 14px;
}

.social .item {
  width: 40px;
  height: 40px;
}
.link-social {
  padding: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  background-color: $iris;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms $time-function;
}

.link-social {
  fill: $cloud;
}

.link-social:is(:hover, :focus) {
  background-color: $ocean;
}

//.social .item:not(:last-child) {
//  margin-right: 24px;
//}

@media screen and (min-width: 480px) {
  .container-team {
    max-width: 396px;
    padding: 0 82px;
  }
}

@media screen and (max-width: 768px) {
  .team-list .worker:not(:last-child) {
    margin-bottom: 72px;
  }
}
//=====================================TABLET===========================================
@media screen and (min-width: 768px) {
  .container-team {
    padding: 0 108px;
    max-width: 736px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
  }

  .team-list .worker {
    width: calc((100% - 48px) / 2);
    margin: 12px;
  }
}

//========================================DESCTOP===========================================
@media screen and (min-width: 1200px) {
  .container-team {
    padding: 0 15px;
    max-width: 1158px;
  }
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list .worker {
    width: calc((100% - 96px) / 4);
    //margin-right: 24px;
  }

  //  .team-list .worker:nth-child(4n) {
  //    margin: 0;
  //  }
}
