/* ===============================Modal window=========================== */
.backdrop-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms $time-function;

  background-color: $bcg-navy-blue-modal;
}

.backdrop-modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms $time-function;
  opacity: 1;

  background-color: $bcg-modal;

  padding: 72px 24px 24px 24px;
  text-align: center;
}

.btn-close {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $cornflower;
  border: 1px solid $bodrer-btn-close;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms $time-function;
}

.btn-close:focus {
  background-color: $ocean;
}

.form-text {
  margin: 0;
  font-weight: 500;
  text-align: center;
  padding-bottom: 14px;
}

.label-name:not(:last-child) {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  text-align: left;
}

.label-name:last-child {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  text-align: left;
}

.input-type {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid $border-input;
  border-radius: 4px;
  transition: border 250ms $time-function;
}

.input-type:focus-within {
  outline: none;
  border: 1px solid $bodrer-btn-subscribe;
}

/* =============INPUT-ICONS======= */
.input-area {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: transform 250ms $time-function, fill 250ms $time-function;
}

.label-name:hover .input-icon {
  fill: $iris;
}

.label-name:focus-within .input-icon {
  fill: $iris;
}

.checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../../images/checkbox.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 250ms $time-function;
}

.checkbox:checked + .checkbox-icon {
  background-image: url(../../images/checkbox-yes.svg);
}

/* =============END=INPUT-ICONS======= */

.form-title {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: $light-slate;
  margin-bottom: 4px;
}

textarea {
  resize: none;
  min-height: 120px;
  width: 100%;
}

.txtarea-input {
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid $border-input;
  border-radius: 4px;
  transition: border 250ms $time-function;
}

.txtarea-input:focus-within {
  outline: none;
  border: 1px solid $bodrer-btn-subscribe;
}

.btn-sendform {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: 1px solid transparent;

  color: $white;
  background-color: $iris;

  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  position: background-color 250ms $time-function;
}

.privacy {
  height: 24px;

  margin: 0;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: $privacy;
  margin-left: 24px;
}

.privacy-link {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .form-order {
    min-width: 320px;
    width: 95%;

    max-width: 392px;
  }
}

@media screen and (min-width: 480px) {
  .form-order {
    width: 392px;
  }
}

@media screen and (min-width: 768px) {
  .form-order {
    width: 408px;
  }
}

@media screen and (min-width: 1200px) {
}
