body {
  background-color: $white;
  color: $slate;

  //  @include font(16px, 400, 24px, 0.02em);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.02em;

  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid $cornflower;
  box-shadow: $header-shadow;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link,
.logo {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  min-width: 320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

//===========container for desctop===============

@media screen and (min-width: 480px) {
  .container {
    max-width: 396px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    line-height: 1.5;
  }
  .container {
    max-width: 1158px;
  }
}
