$iris: hsl(235, 75%, 60%);
$iris-bcg: hsl(235, 75%, 60%, 0.95);
$ocean: #404bbf;
$navy-blue: #2e2f42;
$green: #31d0aa;
$slate: #434455;
$light-slate: #8e8f99;
$cornflower: #e7e9fc;
$cloud: #f4f4fd;
$navybluemodal: #2e2f42;
$grey: #2e2f42;
$white: #ffffff;
$bcg-gray: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
$bcg-cloud: linear-gradient(rgba(244, 244, 253, 1), rgba(244, 244, 253, 1));
$bcg-social: rgba(255, 255, 255, 0.1);
$shadow-portfolio: 0px 1px 6px rgba(46, 47, 66, 0.08);
$shadow-portfolio-activ: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
$shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);
$shadow-btn: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$bcg-navy-blue-modal: rgba(46, 47, 66, 0.4);
$bcg-modal: #fcfcfc;
$bodrer-btn-close: rgba(0, 0, 0, 0.1);
$privacy: #757575;
$border-input: rgba(33, 33, 33, 0.2);
$border-input-email: rgba(255, 255, 255, 0.3);
$border-input-email-dropshadow: rgba(0, 0, 0, 0.15);
$bodrer-btn-subscribe: #4d5ae5;
